.propertyList{
    margin: 50px auto;
}
.propertyContainer{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    box-sizing: border-box;
}
.propertyContainer h3{
    margin: 10px 0;
}
.properyItems{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.propertyItem{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    cursor: pointer;
}
.propertyItem img{
    width: 100%;
    height: 100%
}
.propertyItem h4{
    margin-top: 10px;
}
.propertyItem p{
    font-weight: 200;
    font-size: smaller;
    color: gray;
}