.optionSection {
  width: 300px;
  border: 1px solid #b8b8b8;
  position: absolute;
  top: 107%;
  right: 0px;
  padding-left: 10px;
  background-color: white;
  z-index: 5;
}
.searchResultOptions{
    top: 65px;
  right: -60px;
}
.optionitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

.optionitem p {
  margin-right: 40px;
}

.optionitem button {
  background-color: white;
  font-size: 20px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  width: 40px;
  padding: 5px 0;
  cursor: pointer;
  margin: 0 20px;
}
